@media screen and (max-width: 1400px) {

    /* global changes */
  
    .wrapper {
      margin-left: 0;
    }
  
    /* title */
      div.title {
          margin: 0 10px 0;
          padding: 40vh 0px 0px;
      }
  
      p.title-main {
          font-size: 15rem;
          line-height:0.817;
          letter-spacing: -.03em;
      }
  
      p.title-bottom {
          font-size: 4rem;
          line-height: 1.2em;
      }
  
    /* navbar */
    .navbar {
      display: none;
    }
  
    /* section-descriptions */
  
    .thumbnail {
      width: 50vh;
      height: 50vh;
      max-width: 50vh;
      max-height: 100%;
      transition: .5s;
      align-self: center;
      transition-delay: -.5s;
      margin: 50vh 30px 0;
      ;
    }
    .thumbnail img {
      width: 50vh;
      height: 50vh;
      max-width: 50vh;
      max-height: 100%;
      box-shadow: 5px 5px 25px 5px black;
    }
  
    .overlay {
      width: 50vh;
      height: 50vh;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      opacity: 0;
    }
    .overlay p {
      transform: translate(0, 23vh);
      color: white;
      font-size: 5rem;
      text-align: center;
    }
  
    .port-details {
      display: block;
      max-width: 90vw;
      height: auto;
      padding: 30px;
      background-color: rgba(24, 24, 24, 0.7);
    }
    .port-details h3 {
      margin: 0;
      font-size: 4rem;
      line-height: 1;
    }
    .port-details p {
      font-size: 1.5rem;
      line-height: 1.5;
      margin: 20px 20px 0;
    }
  }