@charset "utf-8";
/* Kiko's Port Website */
/* -global */

html, body {
	margin: 0;
	font-size: 10px;
  scroll-behavior: auto;
  margin: 0;
}
body {
	font-family:"Helvetiva", sans-serif;
	
	color: white;
}
p {
	margin: 0;
}
a {
	color: white;
}
a:visited {
	color: none;
}

/* -navbar */

.burger-bar img {
	position: fixed;
	max-height: 80px;
	margin: 5vh 5vw;
}
.navbar {
  display: flex;
	flex-direction: column;
	align-items: center;
  overflow-x: hidden;
	position: fixed;
	height: 100vh;
	width: 10vw;
	background-color: #111;
	font-size: 2rem;
	line-height:1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: .5s;
}
.navbar:first-child {
	padding-top: 10vh;
}
.btns1 {
  display: flex;
	flex-direction: column;
	align-items: center;
}
.btns2 {
  display: none;
  flex-direction: column;
	align-items: center;
}
.navbtn {
	color: white;
	font-family: "Gotham", 'Helvetica Neue', "Helvetica", "Arial", 'sans-serif';
	margin-top: 20px;
	line-height: 2;
	text-decoration: none;
}
.navbtn:hover {
	color: mediumaquamarine;
}
.closebtn {
	font-size: 5rem;
}
.closebtn:hover {
	color: mediumaquamarine;
}

/* -Main -Top of Page */

.frontpage {
	background-image: url("../../imgs/koisized.png"); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}
.wrapper {
  width: 80vw;
	display: block;
  transition: .5s;
	margin-left: 10vw;
}
.top-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.top-wrapper .title {
	flex: 1 0 auto;
}

/* -title section */

div.title {
	margin: 0 50px 0;
	padding: 100px 0px 0px;
	color: mediumaquamarine;
	font-family: 'Koulen', sans-serif;
}
p.title-main, p.title-bottom, p.scroll-text {
	text-align:center;
	text-align-last:center;
	page-break-after:auto;
	page-break-before:auto;
	text-decoration:none;
	text-shadow: #111;
}
p.title-main {
	font-size: 20rem;
	line-height:0.817;
	letter-spacing: -.03em;
}
p.title-bottom {
	font-size: 4.5rem;
	line-height: 1.2em;
}
.scroll {
	color: mediumaquamarine;
	font-family: 'Koulen', sans-serif;
	margin: 5vh 0 10vh;
  font-size: 4rem;
  transition: .5s;
}
.scroll:hover {
  font-size: 5rem;
}
p.scroll-text {
	line-height: 1.2em;
}
.scroll-arrow {
	display: block;
	margin: 0 auto 0;
	width: 20px;
}

/* -portfolio section */

.port-grid {
	font-family: "Helvetica", "Arial", "sans-serif";
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
  align-items: center;
  width: auto;
	grid-row-gap: 2vh;
	font-size: 1.6rem;
	line-height: 1.3;
}
.thumbnail {
	max-width: 30vw;
	max-height: 30vw;
  transition: .5s;
  align-self: center;
  transition-delay: -.5s;
	margin-top: 50vh;
	padding-top: 5vh;
}
.thumbnail img {
	max-width: 30vw;
	max-height: 30vw;
	box-shadow: 5px 5px 25px 5px black;
}
.overlay {
	width: 30vw;
	height: 30vw;
	position: absolute;
  opacity: 0;
  transition: .5s;
}
.overlay p {
	transform: translate(0, 15vw);
	color: white;
	font-size: 2rem;
	text-align: center;
}
.thumbnail:hover .overlay{
  opacity: 1;
	background-color: rgba(24, 24, 24, 0.7);
}
.port-details {
	display: block;
  max-width: 50vw;
	height: auto;
  padding: 30px;
  background-color: rgba(24, 24, 24, 0.7);
}

.port-details h3 {
  margin: 0;
	font-size: 4rem;
	line-height: 1;
}
.port-details p {
	font-size: 1.5rem;
	line-height: 1.5;
  margin: 20px 20px 0;
}

/* -preview section */

.previewSec {
  scroll-behavior: smooth;
  right: 0%;
  overflow-x: hidden;
  position: fixed;
  width: 0;
  height: 100%;
  background-color: #111;
  transition: 1s;
}
.previewSec div {
  margin-bottom: 50px;
}
.previewSec h2:first-of-type {
	padding-top: 4vh;
}
#closePreview {
  position: fixed;
  margin: 2vh 1vw
}
.book-wrapper {
  height: 90%;
  width: auto;
	background-color: #a0a0a0;
	padding: 2vh 2vw 2vh 10vw;
}
.book-wrapper .lokoFilter {
	max-height: 90%;
	width: auto;
  }
.oldCoastal {
	background-color: white;
}
.descText h2 {
  font-size: 2.5rem;
	padding-top: 2vh;
}
.descText p {
  font-size: 1.5em;
  width: 650px;
  margin: 1vh 0 14vh;
}
.descText {
  margin: 0 18vw 0;
}
.descText img {
  max-height: 500px;
  margin-bottom: 50px;
}
/* for each book */

/* potsdam books */

.WW2018 {
	margin: 50px 0 50px 8vw;
}
.welcome-page {
	background-color: white;
	color: black;
}
.welcome-page img {
	height: 100%;
	width: auto;
}

.vegasStr {
margin: 50px 0 50px 8vw;
}
.vegas-page {
	background-color: white;
	color: black;
}
.vegas-page img {
	height: 100%;
	width: auto;
}

.libraryBan {
margin: 50px 0 50px 8vw;
}
.banner-page {
	background-color: white;
	color: black;
}
.banner-page img {
	height: 100%;
	width: auto;
}

.lokoFilter {
	margin: 50px 0 50px 8vw;
}
.filter-page {
	background-color: none;
	color: black;
}
.filter-page img {
	height: 100%;
	width: auto;
}

/* coastal */
.coastalBook {
  margin: 50px 0 50px 8vw;
}
.my-page {
	background-color: white;
	color: black;
}
.my-page img {
	height: 100%;
	width: auto;
}



/* wanted */
.wantedBook {
  margin: 50px 0 50px 8vw;
}
.wanted-page {
	background-color: white;
	color: black;
}
.wanted-page img {
	height: 100%;
	width: auto;
}

/* -footer */
.mainfoot {
  display: block;
  flex-shrink: 0;
	margin: 25vh 50px 0;
	padding: 0 50px 5px;
	height: 60px;
	font-size: 12px;
	line-height: .05;
}
.mainfoot h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}
.mainfoot p {
  font-size: 1.5rem;
}
.attr-foot {
	float: right;
}
/* -media queries */

@media screen and (max-width: 1400px) {

  /* global changes */

  .wrapper {
    margin-left: 0;
  }

  /* title */
	div.title {
		margin: 0 10px 0;
		padding: 40vh 0px 0px;
	}

	p.title-main {
		font-size: 15rem;
		line-height:0.817;
		letter-spacing: -.03em;
	}

	p.title-bottom {
		font-size: 4rem;
		line-height: 1.2em;
	}

  /* navbar */
  .navbar {
    display: none;
  }

  /* section-descriptions */

  .thumbnail {
    width: 50vh;
    height: 50vh;
    max-width: 50vh;
    max-height: 100%;
    transition: .5s;
    align-self: center;
    transition-delay: -.5s;
    margin: 50vh 30px 0;
    ;
  }
  .thumbnail img {
    width: 50vh;
    height: 50vh;
    max-width: 50vh;
    max-height: 100%;
    box-shadow: 5px 5px 25px 5px black;
  }

  .overlay {
    width: 50vh;
    height: 50vh;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
  }
  .overlay p {
    transform: translate(0, 23vh);
    color: white;
    font-size: 5rem;
    text-align: center;
  }

  .port-details {
    display: block;
    max-width: 90vw;
    height: auto;
    padding: 30px;
    background-color: rgba(24, 24, 24, 0.7);
  }
  .port-details h3 {
    margin: 0;
    font-size: 4rem;
    line-height: 1;
  }
  .port-details p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 20px 20px 0;
  }
}

/*
breakpoints:

title
	500px mobile size ~2em

navbar
  500px set preview to landscape ??
port section
  500px
    stack img on text

book preview
  1300px
    scale size
  500px scale size
*/